@page
@model suntadela.web.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>A verification email has been sent to <strong>@Model.Email</strong>. Please check your inbox and click the confirmation link to activate your account.</p>
